.task-body{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(245, 245, 244, 0.5);
    row-gap: 5px;
    margin-bottom: 5px;
    padding: 5px 0px;
}

.task-title{
    width: 190px;
    height: 20px;
}

.task-date{
    width: 100px;
    margin-left: 10px;
}

.task-description{
    width: 190px;
    overflow: hidden;
    height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgba(0, 0, 0, 0.5);
}

.task-daysLeft{
    width: 100px;
    margin-left: 10px;
}