.list-body {
    width: 320px;
    height: 400px;
    background-color: #E7E5E4;
    padding: 0px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 8px 8px 5px -1px rgba(0, 0, 0, 0.2);
}

.list-header {
    margin-top: 10px;
    display: flex;
    align-items: center;
    border: solid black 0px;
    border-bottom-width: 1px;
    background-color: rgba(245, 245, 244, 0.5);
}

.list-title {
    width: 80%;
    flex: 1 1 auto;
    font-size: 1.4rem;
    font-weight: 700;
    border: solid rgba(255, 255, 255, 1) 0px;
    background-color: rgba(245, 245, 244, 0.5);
}

.list-delButton {    
    background-color: rgba(245, 245, 244, 0.5);
    font-weight: 700;
    font-size: 1.4rem;
    border: solid rgba(255, 255, 255, 1) 0px;
    margin-left: 5px;
}

.list-tasks {
    flex: 1 1 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    align-self: stretch;
}

.list-addButton {
    flex: 0 0 auto;
    width: 50px;
    height: 50px;
    background-color: rgba(245, 245, 244, 0.5);
    font-weight: 900;
    font-size: 1.6rem;
    border-radius: 50%;
    border: solid rgba(255, 255, 255, 1) 1px;
}

.list-addButton:hover,
.list-delButton:hover {
    cursor: pointer;
}

.list-addButton:active,
.list-delButton:active {
    box-shadow: inset -1px 3px 8px 5px #D6D3D1;
}

.list-footer {
    background-color: rgba(245, 245, 244, 0.5);
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    border: solid black 0px;
    border-top-width: 1px;
    padding-top: 5px;
}

.list-dataDue {
    color: red;
}


.confirmation-modal{
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.confirmation-main{
    width: 468px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: #D6D3D1;
    margin: 15% auto;
    padding: 10px;
    border: solid black 1px;    
    border-radius: 15px;
}

.confirmation-listName{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding: 15px
}

.confirmation-footer{
    display: flex;
    justify-content: space-between;
}

.confirmation-killButton{
    width: 130px;
    height: 45px;
    background-color: rgb(255, 0, 0, 0.7);
    color: white;
    font-weight: 700;
    font-size: 1.3rem;
    border: solid rgba(255, 255, 255, 0.5) 1px;
    border-radius: 5px;
}

.confirmation-cancelButton{
    width: 130px;
    height: 45px;
    background-color: transparent;
    color: rgb(37, 99, 235);
    font-weight: 700;
    font-size: 1.3rem;
    border: solid   rgb(37, 99, 235) 1px;
    border-radius: 5px;
}