body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #D6D3D1;  /*tailwind stone theme*/    
};